/* base.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.navbar {
    margin-bottom: 20px;
}

/* Estilos para el menú desplegable */
.navbar-nav .dropdown {
    position: relative;
}

.navbar-nav .dropdown-menu {
    background-color: #f8f9fa; /* Fondo claro para el menú desplegable */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
    border: none; /* Elimina el borde por defecto */
}

/* Efecto de opacidad en el fondo al desplegar el menú */
.navbar-nav .dropdown.show .dropdown-menu {
    background-color: #e9ecef; /* Fondo ligeramente oscuro cuando se despliega */
}

/* Overlay para oscurecer el fondo */
.navbar-nav .dropdown.show::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Color negro con opacidad */
    z-index: 1000; /* Asegura que esté por encima del contenido */
    pointer-events: none; /* Permite que los clics pasen a través del overlay */
}

/* Estilos para el contenedor de la página */
.container-fluid {
    padding: 20px;
}
/* Estilos para el menú lateral */
.sidebar {
    padding: 15px;
    background-color: #f8f9fa;
    height: 100vh; /* Asegura que el menú lateral ocupe toda la altura visible */
}

/* Estilos para el título del menú lateral */
.sidebar h5 {
    margin-bottom: 15px;
}

/* Estilos para los elementos de la lista */
.sidebar .list-group-item {
    border: none;
    background-color: #f8f9fa; /* Color de fondo de los elementos */
}

/* Estilo de los enlaces dentro de los elementos de lista */
.sidebar .list-group-item a {
    color: #333; /* Color de texto negro */
    text-decoration: none; /* Elimina el subrayado por defecto */
    display: block; /* Asegura que el área del enlace sea el bloque completo */
    padding: 10px; /* Espaciado interno para hacer clic más fácil */
}

/* Estilo de los enlaces al pasar el ratón por encima */
.sidebar .list-group-item a:hover {
    background-color: #e9ecef; /* Fondo más oscuro al pasar el ratón */
    color: #000; /* Color de texto negro al pasar el ratón */
    text-decoration: underline; /* Subrayado al pasar el ratón */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de fondo */
}










/* Estilos para el pie de página */
footer {
    background-color: #f8f9fa;
    padding: 20px 0;
}

footer h5 {
    margin-bottom: 15px;
}

footer .list-unstyled li a {
    color: #333;
}

footer .list-unstyled li a:hover {
    text-decoration: underline;
}

footer .text-center {
    margin-top: 10px;
}
